apiVersion: apps/v1
kind: Deployment
metadata:
  name: example-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: example-service
  template:
    metadata:
      labels:
        app: example-service
    spec:
      containers:
        - name: example-service
          image: node:24
          workingDir: /opt/example-service
          command: ["sh", "-c", "tail -f /dev/null"]
          env:
            - name: WIREMOCK_HOST
              value: "wiremock"
            - name: WIREMOCK_PORT
              value: "8080"
          ports:
            - containerPort: 3000
          volumeMounts:
            - name: app-src
              mountPath: /opt/example-service
      volumes:
        - name: app-src
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: example-service
spec:
  selector:
    app: example-service
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
